{% extends "modeling_tool/index.html" %}
{% load static %}

{% block content %}
<div id="create-tool">
  <h1 class="my-own-test">Suggest a new Modeling Tool</h1>

  <form id="submission-form" (ngSubmit)="onSubmit()" novalidate class="needs-validation">
    <section>
      <div>
        <div>
          <input id="tool_name"
                 class=" "
                 name="name"
                 type="text"
                 value=""
                 placeholder="Modeling Tool Name"
                 required/>
          <div id="invalid-input-name-duplicate" class="invalid-input" style="display: none">
            Tool with the name <span id="name-duplicate-name"></span>  already exists.
            Click <a href="{% url 'edit_modeling_tools' 0 %}">here</a> to switch to edit mode.
          </div>
          <div id="invalid-input-name-syntactic" style="display: none"></div>
        </div>
        <div>
          <input id="tool_link" name="link" placeholder="Link to the webpage"/>
          <div id="invalid-input-link" class="invalid-input"></div>
        </div>
      </div>
      <div>
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"></path>
          </svg>
        </span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-diagram-2-fill" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M6 3.5A1.5 1.5 0 0 1 7.5 2h1A1.5 1.5 0 0 1 10 3.5v1A1.5 1.5 0 0 1 8.5 6v1H11a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0v-1A.5.5 0 0 1 5 7h2.5V6A1.5 1.5 0 0 1 6 4.5v-1zm-3 8A1.5 1.5 0 0 1 4.5 10h1A1.5 1.5 0 0 1 7 11.5v1A1.5 1.5 0 0 1 5.5 14h-1A1.5 1.5 0 0 1 3 12.5v-1zm6 0a1.5 1.5 0 0 1 1.5-1.5h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1A1.5 1.5 0 0 1 9 12.5v-1z"></path>
        </svg>
      </div>
    </section>
    <section>
      <div class="form-group">
        <label for="openSourceContent">Open Source</label>
        <div class="input-group">
          <select id="openSourceContent"
                  name="openSource"
                  style="border-radius: .375rem"
                  class="form-select  ">
            <option class="bg-white"></option>
            <option class="false-value">No</option>
            <option class="true-value">Yes</option>
          </select>
          <i class="bi bi-chevron-down custom-select"></i>
        </div>
        <!--
        <div class="reset"
             *ngIf="mode === 2 && modelingToolByUser.openSource !== originalModelingTool.openSource"
             (click)="modelingToolByUser.openSource = originalModelingTool.openSource">
          Reset
        </div>
        -->
      </div>
      <div class="form-group">
        <label for="appLibraryFramework">Technology</label>
        <div class="input-group">
          <div style="border-radius: .375rem"
               class="form-select bg-white form-select-height form-custom"
               id="technology-input">
          </div>
          <!-- TODO: Replace i-icon with svg -->
          <i class="bi bi-chevron-down custom-select"></i>
        </div>
        <div id="appLibraryFramework" style="display: none">
          <ul class="list-items">
            {% for tech in technologies_properties %}
              <li id="item-{{ tech|lower }}" class="item technology-item">
              <span class="checkbox">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" id="check-{{ tech|lower }}" style="display: none" viewBox="0 0 16 16">
                  <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"></path>
                </svg>
              </span>
                <span class="item-text">
                  {{ tech }}
                </span>
              </li>
            {% endfor %}
          </ul>
        </div>
      <!--
        <div class="reset"
             *ngIf="mode === 2 && !arraysEqual(modelingToolByUser.technology, originalModelingTool.technology)"
             (click)="setUserToolArray('technology', originalModelingTool.technology)">
          Reset
        </div>
        -->
      </div>
      <div class="form-group">
        <label for="webApp">Is it provided as a web application?</label>
        <div class="input-group">
          <select id="webApp"
                  name="webApp"
                  style="border-radius: .375rem"
                  class="form-select  "
                  [(ngModel)]="modelingToolByUser.webApp">
            <option class="bg-white" [ngValue]="null"></option>
            <option class="false-value" [ngValue]="false">No</option>
            <option class="true-value" [ngValue]="true">Yes</option>
          </select>
          <i class="bi bi-chevron-down custom-select"></i>
        </div>
        <!--
        <div class="reset"
             *ngIf="mode === 2 && modelingToolByUser.webApp !== originalModelingTool.webApp"
             (click)="modelingToolByUser.webApp = originalModelingTool.webApp">
          Reset
        </div>
        -->
      </div>
      <div class="form-group">
        <label for="desktopApp">Is it provided as a desktop application?</label>
        <div class="input-group">
          <select id="desktopApp"
                  name="desktopApp"
                  style="border-radius: .375rem"
                  class="form-select  "
                  [(ngModel)]="modelingToolByUser.desktopApp">
            <option class="bg-white" [ngValue]="null"></option>
            <option class="false-value" [ngValue]="false">No</option>
            <option class="true-value" [ngValue]="true">Yes</option>
          </select>
          <i class="bi bi-chevron-down custom-select"></i>
        </div>
        <!--
        <div class="reset"
             *ngIf="mode === 2 && modelingToolByUser.desktopApp !== originalModelingTool.desktopApp"
             (click)="modelingToolByUser.desktopApp = originalModelingTool.desktopApp">
          Reset
        </div>
        -->
      </div>
      <div class="form-group">
        <label for="categoryContent">Category</label>
        <div class="input-group">
          <select id="categoryContent"
                  name="categoryContent"
                  style="border-radius: .375rem"
                  class="form-select bg-white"
                  [(ngModel)]="modelingToolByUser.category">
            <option *ngFor="let category of getCategoryEnum()"
                    [ngValue]="category">

            </option>
          </select>
          <i class="bi bi-chevron-down custom-select"></i>
        </div>
        <!--
        <div class="reset"
             *ngIf="mode === 2 && modelingToolByUser.category !== originalModelingTool.category"
             (click)="modelingToolByUser.category = originalModelingTool.category">
          Reset
        </div>
        -->
      </div>
      <div class="form-group" (clickOutside)="modelingLanguagesChecked = false">
        <label for="modelingLanguagesSuggestion">Modeling Languages</label>
        <div class="input-group">
          <div style="border-radius: .375rem"
               class="form-select bg-white form-select-height form-custom"
               id="modeling-languages-input">
            <span class="mult-item"
                  *ngFor="let language of modelingToolByUser.modelingLanguages"
                  (click)="deleteModelingLanguage(language);$event.stopPropagation()">

              <i class="bi bi-x"></i>
            </span>
          </div>
          <i class="bi bi-chevron-down custom-select"></i>
        </div>
        <div id="modelingLanguagesSuggestion" style="display: none">
          <ul class="list-items">
            <li class="item "
                *ngFor="let language of modelingLanguages"
                (click)="addRemoveModelingLanguage(language)">
            <span class="checkbox">
              <i class="bi bi-check-lg"></i>
            </span>
              <span class="item-text">

            </span>
            </li>
            <li class="own-property-input-list">
              <input type="text"
                     class="own-property-input"
                     placeholder="Different modeling language"
                     [ngModelOptions]="{standalone: true}"
                     [(ngModel)]="suggestedModelingLanguage"
                     (keyup.enter)="addRemoveModelingLanguage(suggestedModelingLanguage)">
              <span (click)="addRemoveModelingLanguage(suggestedModelingLanguage)">
                Add
              </span>
            </li>
            <div class="invalid-input" *ngIf="userModelValidator.modelingLanguage !== undefined ">

            </div>
          </ul>
        </div>
        <!--
        <div class="reset"
             *ngIf="mode === 2 && !arraysEqual(modelingToolByUser.modelingLanguages, originalModelingTool.modelingLanguages)"
             (click)="setUserToolArray('modelingLanguages', originalModelingTool.modelingLanguages)">
          Reset
        </div>
      -->
      </div>
      <div class="form-group">
        <label for="sourceCodeGenerationSuggestion">Does it provide source code generation?</label>
        <div class="input-group">
          <select id="sourceCodeGenerationSuggestion"
                  name="sourceCodeGenerationSuggestion"
                  style="border-radius: .375rem"
                  class="form-select  "
                  [(ngModel)]="modelingToolByUser.sourceCodeGeneration">
            <option class="bg-white" [ngValue]="null"></option>
            <option class="false-value" [ngValue]="false">No</option>
            <option class="true-value" [ngValue]="true">Yes</option>
          </select>
          <i class="bi bi-chevron-down custom-select"></i>
        </div>
        <!--
        <div class="reset"
             *ngIf="mode === 2 && modelingToolByUser.sourceCodeGeneration !== originalModelingTool.sourceCodeGeneration"
             (click)="modelingToolByUser.sourceCodeGeneration = originalModelingTool.sourceCodeGeneration">
          Reset
        </div>
        -->
      </div>
      <div class="form-group">
        <label for="cloudServiceSuggestion">Does it provide Cloud Service?</label>
        <div class="input-group">
          <select id="cloudServiceSuggestion"
                  name="cloudServiceSuggestion"
                  style="border-radius: .375rem"
                  class="form-select  "
                  [(ngModel)]="modelingToolByUser.cloudService">
            <option class="bg-white" [ngValue]="null"></option>
            <option class="false-value" [ngValue]="false">No</option>
            <option class="true-value" [ngValue]="true">Yes</option>
          </select>
          <i class="bi bi-chevron-down custom-select"></i>
        </div>
        <!--
        <div class="reset"
             *ngIf="mode === 2 && modelingToolByUser.cloudService !== originalModelingTool.cloudService"
             (click)="modelingToolByUser.cloudService = originalModelingTool.cloudService">
          Reset
        </div>
        -->
      </div>
      <div class="form-group">
        <label for="licenseContent">License</label>
        <div class="input-group">
          <select id="licenseContent"
                  name="licenseContent"
                  style="border-radius: .375rem"
                  class="form-select bg-white"
                  [(ngModel)]="modelingToolByUser.license">
            <option *ngFor="let license of getLicenseEnum()"
                    [ngValue]="license">

            </option>
          </select>
          <i class="bi bi-chevron-down custom-select"></i>
        </div>
        <!--
        <div class="reset"
             *ngIf="mode === 2 && modelingToolByUser.license !== originalModelingTool.license"
             (click)="modelingToolByUser.license = originalModelingTool.license">
          Reset
        </div>
        -->
      </div>
      <div class="form-group">
        <label for="loginSelect">Is log-in required?</label>
        <div class="input-group">
          <select id="loginSelect"
                  name="loginSelect"
                  style="border-radius: .375rem"
                  class="form-select  "
                  [(ngModel)]="modelingToolByUser.loginRequired">
            <option class="bg-white" [ngValue]="null"></option>
            <option class="false-value" [ngValue]="false">No</option>
            <option class="true-value" [ngValue]="true">Yes</option>
          </select>
          <i class="bi bi-chevron-down custom-select"></i>
        </div>
        <!--
        <div class="reset"
             *ngIf="mode === 2 && modelingToolByUser.loginRequired !== originalModelingTool.loginRequired"
             (click)="modelingToolByUser.loginRequired = originalModelingTool.loginRequired">
          Reset
        </div>
        -->
      </div>
      <div class="form-group">
        <label for="realtimeCollaborationSuggestion">Is Real Time Collaboration possible?</label>
        <div class="input-group">
          <select id="realtimeCollaborationSuggestion"
                  name="realtimeCollaborationSuggestion"
                  style="border-radius: .375rem"
                  class="form-select  "
                  [(ngModel)]="modelingToolByUser.realTimeCollab">
            <option class="bg-white" [ngValue]="null"></option>
            <option class="false-value" [ngValue]="false">No</option>
            <option class="true-value" [ngValue]="true">Yes</option>
          </select>
          <i class="bi bi-chevron-down custom-select"></i>
        </div>
        <!--
        <div class="reset"
             *ngIf="mode === 2 && modelingToolByUser.realTimeCollab !== originalModelingTool.realTimeCollab"
             (click)="modelingToolByUser.realTimeCollab = originalModelingTool.realTimeCollab">
          Reset
        </div>
        -->
      </div>
      <div class="form-group" (clickOutside)="creatorsChecked = false">
        <label for="creator">Creator</label>
        <div class="input-group">
          <div style="border-radius: .375rem"
               class="form-select bg-white form-select-height form-custom"
               id="creators-input">
            <span class="mult-item"
                  *ngFor="let creator of modelingToolByUser.creator"
                  (click)="deleteCreator(creator);$event.stopPropagation()">
              <i class="bi bi-x"></i>
            </span>
          </div>
          <i class="bi bi-chevron-down custom-select"></i>
        </div>
        <div id="creator" style="display: none">
          <ul class="list-items">
            <li class="own-property-input-list">
              <input type="text"
                     class="own-property-input"
                     id="creator-new"
                     placeholder="Creator"
                     [ngModelOptions]="{standalone: true}"
                     [(ngModel)]="creatorInput"
                     (keyup.enter)="addCreator()">
              <span (click)="addCreator()">
                Add
              </span>
            </li>
          </ul>
        </div>
        <!--
        <div class="reset"
             *ngIf="mode === 2 && !arraysEqual(modelingToolByUser.creator, originalModelingTool.creator)"
             (click)="setUserToolArray('creator', originalModelingTool.creator)">
          Reset
        </div>
        -->
      </div>

      <div class="form-group" (clickOutside)="platformsChecked = false">
        <label for="editPlatforms">Platforms</label>
        <div class="input-group">
          <div style="border-radius: .375rem"
               class="form-select bg-white form-select-height form-custom"
               id="platform-input">
            <span class="mult-item"
                  *ngFor="let platform of modelingToolByUser.platform"
                  (click)="deletePlatform(platform);$event.stopPropagation()">

              <i class="bi bi-x"></i>
            </span>
          </div>
          <i class="bi bi-chevron-down custom-select"></i>
        </div>
        <div id="editPlatforms" style="display: none">
          <ul class="list-items">
            <li class="item "
                *ngFor="let platform of platforms"
                (click)="addRemovePlatform(platform)">
            <span class="checkbox">
              <i class="bi bi-check-lg"></i>
            </span>
              <span class="item-text">

              </span>
            </li>
            <li class="own-property-input-list">
              <input type="text"
                     class="own-property-input"
                     id="platformNew_1"
                     placeholder="Different platform"
                     [ngModelOptions]="{standalone: true}"
                     [(ngModel)]="suggestedPlatforms"
                     (keyup.enter)="addRemovePlatform(suggestedPlatforms)">
              <span (click)="addRemovePlatform(suggestedPlatforms)">
                Add
              </span>
            </li>
            <div class="invalid-input" *ngIf="userModelValidator.platform !== undefined ">

            </div>
          </ul>
        </div>
        <!--
        <div class="reset"
             *ngIf="mode === 2 && !arraysEqual(modelingToolByUser.platform, originalModelingTool.platform)"
             (click)="setUserToolArray('platform', originalModelingTool.platform)">
          Reset
        </div>
        -->
      </div>

      <div class="form-group" (clickOutside)="programmingLanguagesChecked = false">
        <label for="programmingLanguages">Programming Languages</label>
        <div class="input-group">
          <div style="border-radius: .375rem"
               class="form-select bg-white form-select-height form-custom"
               id="programming-language-input">
            <span class="mult-item"
                  *ngFor="let language of modelingToolByUser.programmingLanguage"
                  (click)="deleteLanguage(language);$event.stopPropagation()">

              <i class="bi bi-x"></i>
            </span>
          </div>
          <i class="bi bi-chevron-down custom-select"></i>
        </div>
        <div id="programmingLanguages" style="display: none;">
          <ul class="list-items">
            <li class="item "
                *ngFor="let language of programmingLanguages"
                (click)="addRemoveProgrammingLanguage(language)">
              <span class="checkbox">
                <i class="bi bi-check-lg"></i>
              </span>
              <span class="item-text">

              </span>
            </li>
            <li class="own-property-input-list">
              <input type="text"
                     class="own-property-input"
                     id="plNew_1"
                     placeholder="Different programming language"
                     [ngModelOptions]="{standalone: true}"
                     [(ngModel)]="suggestedProgrammingLanguage"
                     (keyup.enter)="addRemoveProgrammingLanguage(suggestedProgrammingLanguage)">
              <span (click)="addRemoveProgrammingLanguage(suggestedProgrammingLanguage)">
                Add
              </span>
            </li>
            <div class="invalid-input" *ngIf="userModelValidator.programmingLanguage !== undefined ">

            </div>
          </ul>
        </div>
        <!--
        <div class="reset"
             *ngIf="mode === 2 && !arraysEqual(modelingToolByUser.programmingLanguage, originalModelingTool.programmingLanguage)"
             (click)="setUserToolArray('programmingLanguage', originalModelingTool.programmingLanguage)">
          Reset
        </div>
        -->
      </div>
    </section>
    <section>
      <label for="remarks">Additional Information / Remarks</label>
      <textarea id="remarks" placeholder="" [(ngModel)]="modelingToolByUser.feedback" [ngModelOptions]="{standalone: true}"></textarea>
    </section>

    <section>
      <div class="form-group">
        <label for="email">Your Email for confirmation *</label>
        <div class="input-group">
          <input id="email"
                 name="email"
                 class="form-control "
                 [(ngModel)]="modelingToolByUser.userEmail"
                 required/>
        </div>
        <div class="invalid-input"
             *ngIf="userModelValidator.email !== undefined ">

        </div>
      </div>

      <div class="content-align-center">
        <re-captcha *ngIf="!resolvedByUser" (resolved)="resolved($event)" siteKey=""></re-captcha>
        <button *ngIf="resolvedByUser" type="button" data-dismiss="modal" class="reset-btn" onclick="submitModelingTool()">
          Submit
        </button>
      </div>
      <div class="invalid-input" *ngIf="mode === 2 && userModelValidator.toolNotEdited !== undefined">

      </div>
    </section>
  </form>
</div>

<script id="helper"
        data-name="{{ modeling_tools }}"
        data-model-name="{{ modeling_languages }}"
        data-height="{{ platforms }}"
        data-hidden="{{ programming_languages }}"
        src="{% static 'assets/js/create-modeling-tool.js' %}">
</script>


{% endblock content %}
