{% load static %}

<div id="disclaimer">
  <span style="font-weight: bold">Disclaimer:</span>
  <span>&nbsp;This website was created as a part of a bachelor's thesis by
  Tobiáš Gačko in collaboration with Dominik Bork of the&nbsp;
  <a href="https://www.big.tuwien.ac.at/">Business Informatics Group (BIG)</a> &nbsp;institute.
  </span>
</div>
<header>
  <div>
    <span>
      <button  aria-label="Suggest a Modeling Tool"
              class="create-edit-link btn btn-success"
              > <!-- TODO:  -->
        <span >Suggest a Modeling Tool</span>
        <i class="bi bi-plus-lg"></i>
        <i class="bi bi-diagram-2-fill"></i>
      </button>
      <button  aria-label="Update a Modeling Tool"
              class="create-edit-link btn btn-primary"
              >
        <span >Update a Modeling Tool</span>
        <i class="bi bi-pencil-fill"></i>
        <i class="bi bi-diagram-2-fill"></i>
      </button>
      <button class="create-edit-phone btn btn-success" >
        <i class="bi bi-plus-lg"></i>
        <span class="bi bi-diagram-2-fill" ></span>
      </button>
      <button class="create-edit-phone btn btn-primary" >
        <i class="bi bi-pencil-fill"></i>
        <span class="bi bi-diagram-2-fill" ></span>
      </button>
    </span>
    <span id="tool-categories">
      <a aria-label="Homepage" >
        <i class="bi bi-diagram-2-fill logo"></i>
      </a>
    </span>
    <span>
      <i class="bi bi-sun-fill"></i>
      <i class="bi bi-moon-fill"></i>
    </span>
  </div>
  <div id="sub-header-design"></div>
</header>
