{% load static %}
{% load bootstrap_icons %}

<div id="disclaimer">
  <span style="font-weight: bold">Disclaimer:</span>
  <span>&nbsp;This website was created as a part of a bachelor's thesis by
  Tobiáš Gačko in collaboration with Dominik Bork of the&nbsp;
  <a href="https://www.big.tuwien.ac.at/">Business Informatics Group (BIG)</a> &nbsp;institute.
  </span>
</div>
<header>
  <div>
    <div>
      <span id="modeling-tool-suggestion-update-mobile">
        <button aria-label="Suggest a Modeling Tool"
                class="create-edit-link btn btn-success"
                >
          <span>Suggest a Modeling Tool</span>
            <span>
              {% bs_icon 'plus-lg' %}
            </span>
            {% bs_icon 'diagram-2-fill' %}
        </button>
        <button  aria-label="Update a Modeling Tool"
                class="create-edit-link btn btn-primary"
                >
          <span >Update a Modeling Tool</span>
            <span>
              {% bs_icon 'pencil-fill' %}
            </span>
            {% bs_icon 'diagram-2-fill' %}
        </button>
      </span>
      <div id="modeling-tool-suggestion-update-web">
        <button class="create-edit-phone btn btn-success" href="{% url 'create_modeling_tools' %}">
          <span>
            {% bs_icon 'plus-lg' %}
          </span>
          {% bs_icon 'diagram-2-fill' %}
        </button>
        <button class="create-edit-phone btn btn-primary" href="{% url 'edit_modeling_tools' %}">
          <span>
            {% bs_icon 'pencil-fill' %}
          </span>
          {% bs_icon 'diagram-2-fill' %}
        </button>
      </div>
    </div>
    <span id="tool-categories">
      <a href="{% url 'modeling_tools' %}" aria-label="Homepage">
        {% bs_icon 'diagram-2-fill' %}
      </a>
      <!--
      <a aria-label="Homepage" >
        <i class="bi bi-diagram-2-fill logo"></i>
      </a>
      -->
    </span>
    <ul id="theme-setter">
      <li id="moon-fill">{% bs_icon 'moon-fill' %}</li>
      <li id="sun-fill">{% bs_icon 'sun-fill' %}</li>
    </ul>
  </div>
  <div id="sub-header-design"></div>
</header>

<script src="{% static 'assets/js/header.js' %}"></script>
