<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modeling Tools</title>
    <link rel="icon" type="image/x-icon" href="{% static 'assets/img/icon.svg' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
    <title>Modeling Tools - Survey of current modeling tools</title>
</head>
<body>
{% include 'modeling_tool/header.html' %}

{% block content %}

{% endblock content %}

{% include 'modeling_tool/footer.html' %}
</body>
</html>