<h1>{{heading}}</h1>

<div id="mode-edit" *ngIf="mode === 1">
  <form class="search-bar {{theme === 0 ? 'search-bar-bg-light' : 'search-bar-bg-dark'}}" [formGroup]="searchTermForm">
    <i class="bi bi-search {{theme === 1 ? 'light' : 'dark'}}" (click)="searchModelingTool()"></i>
    <input type="text"
           placeholder="Search Modeling Tool by name"
           name="term"
           formControlName="term"
           class="{{theme === 0 ? 'font-dark' : 'font-light'}}"
           (keyup.enter)="searchModelingTool()">
    <i class="bi bi-x-circle-fill modal-circle"
       *ngIf="searchTermForm.controls.term.value !== undefined &&
              searchTermForm.controls.term.value !== null &&
              searchTermForm.controls.term.value.length > 0"
       (click)="searchTermForm.controls['term'].setValue('')"></i>
  </form>

  <div id="no-match" *ngIf="searchTerm.length > 0 && modelingTools.length === 0">
    There are no modeling tools with the name "{{searchTerm}}"
  </div>

  <div *ngIf="modelingTools.length > 0">
    <div id="table-description">
      <span>Click on a modeling tool you wish to edit</span>
      <span>Found {{modelingTools.length}} matches for "{{searchTerm}}"</span>
    </div>
    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Open Source</th>
        <th>Category</th>
        <th>Available as Web App</th>
        <th>Available as Desktop App</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let tool of modelingTools" [routerLink]="[tool.id]">
        <td class="{{theme === 0 ? 'td-light' : 'td-dark'}}">{{tool.name}}</td>
        <td
          class="{{tool.openSource ? 'true-value' : (tool.openSource !== undefined && tool.openSource !== null ? 'false-value' : 'unknown-value')}}">
          {{tool.openSource ? 'Yes' : (tool.openSource !== undefined && tool.openSource !== null ? 'No' : 'Unknown')}}
        </td>
        <td class="{{tool.category === undefined || tool.category === null ? 'unknown-value' : (theme === 0 ? 'td-light' : 'td-dark')}}">
          {{getCategoryAsString(tool.category)}}
        </td>
        <td
          class="{{tool.webApp ? 'true-value' : (tool.webApp !== undefined && tool.webApp !== null ? 'false-value' : 'unknown-value')}}">
          {{tool.webApp ? 'Yes' : (tool.webApp !== undefined && tool.webApp !== null ? 'No' : 'Unknown')}}
        </td>
        <td
          class="{{tool.desktopApp ? 'true-value' : (tool.desktopApp !== undefined && tool.desktopApp !== null ? 'false-value' : 'unknown-value')}}">
          {{tool.desktopApp ? 'Yes' : (tool.desktopApp !== undefined && tool.desktopApp !== null ? 'No' : 'Unknown')}}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="mode === 0 || mode === 2">
  <form id="submission-form" #form="ngForm" (ngSubmit)="onSubmit()" novalidate class="submit-tool-form needs-validation">
    <section>
      <div>
        <div>
          <input id="tool_name"
                 class=" {{(userModelValidator.name.syntactic === undefined && userModelValidator.name.duplicate === undefined) ? '' : 'invalid-input-border'}}"
                 name="name"
                 [(ngModel)]="modelingToolByUser.name"
                 type="text"
                 value="{{modelingToolByUser.name === null ? '' : modelingToolByUser.name}}"
                 placeholder="Modeling Tool Name"
                 (focusout)="checkIfToolNameAlreadyExists()"
                 required/>
          <div class="invalid-input" *ngIf="userModelValidator.name.syntactic !== undefined ">
            {{userModelValidator.name.syntactic}}
          </div>
          <div class="invalid-input" *ngIf="userModelValidator.name.duplicate !== undefined">
            Tool with the name {{userModelValidator.name.duplicate.name}} already exists.
            Click <a routerLink="/modeling_tool/edit/{{userModelValidator.name.duplicate.id}}">here</a> to switch to edit mode.
          </div>
        </div>
        <div>
          <input id="too_link"
                 class=" {{userModelValidator.link === undefined ? '' : 'invalid-input-border'}}"
                 name="link"
                 placeholder="Link to the webpage"
                 [(ngModel)]="modelingToolByUser.link"/>
          <div class="invalid-input" *ngIf="userModelValidator.link !== undefined ">
            {{userModelValidator.link}}
          </div>
        </div>
      </div>
      <div>
        <i *ngIf="mode === 0" class="bi bi-plus-lg"></i>
        <i *ngIf="mode === 2" class="bi bi-pencil-fill"></i>
        <i class="bi bi-diagram-2-fill"></i>
      </div>
    </section>
    <section>
      <div class="form-group">
        <label for="openSourceContent">Open Source</label>
        <div class="input-group">
          <select id="openSourceContent"
                  name="openSource"
                  style="border-radius: .375rem"
                  class="form-select {{modelingToolByUser.openSource === null || modelingToolByUser.openSource === undefined ? 'bg-white' : ''}} {{modelingToolByUser.openSource === false ? 'false-value' : (modelingToolByUser.openSource === true ? 'true-value' : '')}}"
                  [(ngModel)]="modelingToolByUser.openSource">
            <option class="bg-white" [ngValue]="null"></option>
            <option class="false-value" [ngValue]="false">No</option>
            <option class="true-value" [ngValue]="true">Yes</option>
          </select>
          <i class="bi bi-chevron-down custom-select"></i>
        </div>
        <div class="reset"
             *ngIf="mode === 2 && modelingToolByUser.openSource !== originalModelingTool.openSource"
             (click)="modelingToolByUser.openSource = originalModelingTool.openSource">
          Reset
        </div>
      </div>
      <div class="form-group" (clickOutside)="technologyChecked = false">
        <label for="appLibraryFramework">Technology</label>
        <div class="input-group">
          <div style="border-radius: .375rem"
               class="form-select bg-white form-select-height form-custom"
               (click)="technologyChecked = !technologyChecked">
            <span class="mult-item"
                  *ngFor="let tech of modelingToolByUser.technology"
                  (click)="deleteTech(tech);$event.stopPropagation()">
              {{getTechnologyAsString(tech)}}
              <i class="bi bi-x"></i>
            </span>
          </div>
          <i class="bi bi-chevron-down custom-select"></i>
        </div>
        <div id="appLibraryFramework" *ngIf="technologyChecked">
          <ul class="list-items">
            <li class="item {{userTechStored(tech) ? 'checked' : ''}}"
                *ngFor="let tech of getTechnologyEnum()"
                (click)="addRemoveTechnology(tech)">
            <span class="checkbox">
              <i class="bi bi-check-lg"></i>
            </span>
              <span class="item-text">
              {{getTechnologyAsString(tech)}}
            </span>
            </li>
          </ul>
        </div>
        <div class="reset"
             *ngIf="mode === 2 && !arraysEqual(modelingToolByUser.technology, originalModelingTool.technology)"
             (click)="setUserToolArray('technology', originalModelingTool.technology)">
          Reset
        </div>
      </div>
      <div class="form-group">
        <label for="webApp">Is it provided as a web application?</label>
        <div class="input-group">
          <select id="webApp"
                  name="webApp"
                  style="border-radius: .375rem"
                  class="form-select {{modelingToolByUser.webApp === null || modelingToolByUser.webApp === undefined ? 'bg-white' : ''}} {{modelingToolByUser.webApp === false ? 'false-value' : (modelingToolByUser.webApp === true ? 'true-value' : '')}}"
                  [(ngModel)]="modelingToolByUser.webApp">
            <option class="bg-white" [ngValue]="null"></option>
            <option class="false-value" [ngValue]="false">No</option>
            <option class="true-value" [ngValue]="true">Yes</option>
          </select>
          <i class="bi bi-chevron-down custom-select"></i>
        </div>
        <div class="reset"
             *ngIf="mode === 2 && modelingToolByUser.webApp !== originalModelingTool.webApp"
             (click)="modelingToolByUser.webApp = originalModelingTool.webApp">
          Reset
        </div>
      </div>
      <div class="form-group">
        <label for="desktopApp">Is it provided as a desktop application?</label>
        <div class="input-group">
          <select id="desktopApp"
                  name="desktopApp"
                  style="border-radius: .375rem"
                  class="form-select {{modelingToolByUser.desktopApp === null || modelingToolByUser.desktopApp === undefined ? 'bg-white' : ''}} {{modelingToolByUser.desktopApp === false ? 'false-value' : (modelingToolByUser.desktopApp === true ? 'true-value' : '')}}"
                  [(ngModel)]="modelingToolByUser.desktopApp">
            <option class="bg-white" [ngValue]="null"></option>
            <option class="false-value" [ngValue]="false">No</option>
            <option class="true-value" [ngValue]="true">Yes</option>
          </select>
          <i class="bi bi-chevron-down custom-select"></i>
        </div>
        <div class="reset"
             *ngIf="mode === 2 && modelingToolByUser.desktopApp !== originalModelingTool.desktopApp"
             (click)="modelingToolByUser.desktopApp = originalModelingTool.desktopApp">
          Reset
        </div>
      </div>
      <div class="form-group">
        <label for="categoryContent">Category</label>
        <div class="input-group">
          <select id="categoryContent"
                  name="categoryContent"
                  style="border-radius: .375rem"
                  class="form-select bg-white"
                  [(ngModel)]="modelingToolByUser.category">
            <option *ngFor="let category of getCategoryEnum()"
                    [ngValue]="category">
              {{category === null ? '' : getCategoryAsString(category)}}
            </option>
          </select>
          <i class="bi bi-chevron-down custom-select"></i>
        </div>
        <div class="reset"
             *ngIf="mode === 2 && modelingToolByUser.category !== originalModelingTool.category"
             (click)="modelingToolByUser.category = originalModelingTool.category">
          Reset
        </div>
      </div>
      <div class="form-group" (clickOutside)="modelingLanguagesChecked = false">
        <label for="modelingLanguagesSuggestion">Modeling Languages</label>
        <div class="input-group">
          <div style="border-radius: .375rem" class="form-select bg-white form-select-height form-custom"
               (click)="modelingLanguagesChecked = !modelingLanguagesChecked">
            <span class="mult-item"
                  *ngFor="let language of modelingToolByUser.modelingLanguages"
                  (click)="deleteModelingLanguage(language);$event.stopPropagation()">
              {{language}}
              <i class="bi bi-x"></i>
            </span>
          </div>
          <i class="bi bi-chevron-down custom-select"></i>
        </div>
        <div id="modelingLanguagesSuggestion" *ngIf="modelingLanguagesChecked">
          <ul class="list-items">
            <li class="item {{userModelingLanguageStored(language) ? 'checked' : ''}}"
                *ngFor="let language of modelingLanguages"
                (click)="addRemoveModelingLanguage(language)">
            <span class="checkbox">
              <i class="bi bi-check-lg"></i>
            </span>
              <span class="item-text">
              {{language}}
            </span>
            </li>
            <li class="own-property-input-list">
              <input type="text"
                     class="own-property-input"
                     placeholder="Different modeling language"
                     [ngModelOptions]="{standalone: true}"
                     [(ngModel)]="suggestedModelingLanguage"
                     (keyup.enter)="addRemoveModelingLanguage(suggestedModelingLanguage)">
              <span (click)="addRemoveModelingLanguage(suggestedModelingLanguage)">
                Add
              </span>
            </li>
            <div class="invalid-input" *ngIf="userModelValidator.modelingLanguage !== undefined ">
              {{userModelValidator.modelingLanguage}}
            </div>
          </ul>
        </div>
        <div class="reset"
             *ngIf="mode === 2 && !arraysEqual(modelingToolByUser.modelingLanguages, originalModelingTool.modelingLanguages)"
             (click)="setUserToolArray('modelingLanguages', originalModelingTool.modelingLanguages)">
          Reset
        </div>
      </div>
      <div class="form-group">
        <label for="sourceCodeGenerationSuggestion">Does it provide source code generation?</label>
        <div class="input-group">
          <select id="sourceCodeGenerationSuggestion"
                  name="sourceCodeGenerationSuggestion"
                  style="border-radius: .375rem"
                  class="form-select {{modelingToolByUser.sourceCodeGeneration === null || modelingToolByUser.sourceCodeGeneration === undefined ? 'bg-white' : ''}} {{modelingToolByUser.sourceCodeGeneration === false ? 'false-value' : (modelingToolByUser.sourceCodeGeneration === true ? 'true-value' : '')}}"
                  [(ngModel)]="modelingToolByUser.sourceCodeGeneration">
            <option class="bg-white" [ngValue]="null"></option>
            <option class="false-value" [ngValue]="false">No</option>
            <option class="true-value" [ngValue]="true">Yes</option>
          </select>
          <i class="bi bi-chevron-down custom-select"></i>
        </div>
        <div class="reset"
             *ngIf="mode === 2 && modelingToolByUser.sourceCodeGeneration !== originalModelingTool.sourceCodeGeneration"
             (click)="modelingToolByUser.sourceCodeGeneration = originalModelingTool.sourceCodeGeneration">
          Reset
        </div>
      </div>
      <div class="form-group">
        <label for="cloudServiceSuggestion">Does it provide Cloud Service?</label>
        <div class="input-group">
          <select id="cloudServiceSuggestion"
                  name="cloudServiceSuggestion"
                  style="border-radius: .375rem"
                  class="form-select {{modelingToolByUser.cloudService === null || modelingToolByUser.cloudService === undefined ? 'bg-white' : ''}} {{modelingToolByUser.cloudService === false ? 'false-value' : (modelingToolByUser.cloudService === true ? 'true-value' : '')}}"
                  [(ngModel)]="modelingToolByUser.cloudService">
            <option class="bg-white" [ngValue]="null"></option>
            <option class="false-value" [ngValue]="false">No</option>
            <option class="true-value" [ngValue]="true">Yes</option>
          </select>
          <i class="bi bi-chevron-down custom-select"></i>
        </div>
        <div class="reset"
             *ngIf="mode === 2 && modelingToolByUser.cloudService !== originalModelingTool.cloudService"
             (click)="modelingToolByUser.cloudService = originalModelingTool.cloudService">
          Reset
        </div>
      </div>
      <div class="form-group">
        <label for="licenseContent">License</label>
        <div class="input-group">
          <select id="licenseContent"
                  name="licenseContent"
                  style="border-radius: .375rem"
                  class="form-select bg-white"
                  [(ngModel)]="modelingToolByUser.license">
            <option *ngFor="let license of getLicenseEnum()"
                    [ngValue]="license">
              {{license === null ? '' : getLicenseAsString(license)}}
            </option>
          </select>
          <i class="bi bi-chevron-down custom-select"></i>
        </div>
        <div class="reset"
             *ngIf="mode === 2 && modelingToolByUser.license !== originalModelingTool.license"
             (click)="modelingToolByUser.license = originalModelingTool.license">
          Reset
        </div>
      </div>
      <div class="form-group">
        <label for="loginSelect">Is log-in required?</label>
        <div class="input-group">
          <select id="loginSelect"
                  name="loginSelect"
                  style="border-radius: .375rem"
                  class="form-select {{modelingToolByUser.loginRequired === null || modelingToolByUser.loginRequired === undefined ? 'bg-white' : ''}} {{modelingToolByUser.loginRequired === false ? 'false-value' : (modelingToolByUser.loginRequired === true ? 'true-value' : '')}}"
                  [(ngModel)]="modelingToolByUser.loginRequired">
            <option class="bg-white" [ngValue]="null"></option>
            <option class="false-value" [ngValue]="false">No</option>
            <option class="true-value" [ngValue]="true">Yes</option>
          </select>
          <i class="bi bi-chevron-down custom-select"></i>
        </div>
        <div class="reset"
             *ngIf="mode === 2 && modelingToolByUser.loginRequired !== originalModelingTool.loginRequired"
             (click)="modelingToolByUser.loginRequired = originalModelingTool.loginRequired">
          Reset
        </div>
      </div>
      <div class="form-group">
        <label for="realtimeCollaborationSuggestion">Is Real Time Collaboration possible?</label>
        <div class="input-group">
          <select id="realtimeCollaborationSuggestion"
                  name="realtimeCollaborationSuggestion"
                  style="border-radius: .375rem"
                  class="form-select {{modelingToolByUser.realTimeCollab === null || modelingToolByUser.realTimeCollab === undefined ? 'bg-white' : ''}} {{modelingToolByUser.realTimeCollab === false ? 'false-value' : (modelingToolByUser.realTimeCollab === true ? 'true-value' : '')}}"
                  [(ngModel)]="modelingToolByUser.realTimeCollab">
            <option class="bg-white" [ngValue]="null"></option>
            <option class="false-value" [ngValue]="false">No</option>
            <option class="true-value" [ngValue]="true">Yes</option>
          </select>
          <i class="bi bi-chevron-down custom-select"></i>
        </div>
        <div class="reset"
             *ngIf="mode === 2 && modelingToolByUser.realTimeCollab !== originalModelingTool.realTimeCollab"
             (click)="modelingToolByUser.realTimeCollab = originalModelingTool.realTimeCollab">
          Reset
        </div>
      </div>
      <div class="form-group" (clickOutside)="creatorsChecked = false">
        <label for="creator">Creator</label>
        <div class="input-group">
          <div style="border-radius: .375rem" class="form-select bg-white form-select-height form-custom" (click)="creatorsChecked = !creatorsChecked">
            <span class="mult-item"
                  *ngFor="let creator of modelingToolByUser.creator"
                  (click)="deleteCreator(creator);$event.stopPropagation()">
              {{creator}}
              <i class="bi bi-x"></i>
            </span>
          </div>
          <i class="bi bi-chevron-down custom-select"></i>
        </div>
        <div id="creator" *ngIf="creatorsChecked">
          <ul class="list-items">
            <li class="own-property-input-list">
              <input type="text"
                     class="own-property-input"
                     id="creator-new"
                     placeholder="Creator"
                     [ngModelOptions]="{standalone: true}"
                     [(ngModel)]="creatorInput"
                     (keyup.enter)="addCreator()">
              <span (click)="addCreator()">
                Add
              </span>
            </li>
          </ul>
        </div>
        <div class="reset"
             *ngIf="mode === 2 && !arraysEqual(modelingToolByUser.creator, originalModelingTool.creator)"
             (click)="setUserToolArray('creator', originalModelingTool.creator)">
          Reset
        </div>
      </div>

      <div class="form-group" (clickOutside)="platformsChecked = false">
        <label for="editPlatforms">Platforms</label>
        <div class="input-group">
          <div style="border-radius: .375rem" class="form-select bg-white form-select-height form-custom"
               (click)="platformsChecked = !platformsChecked">
            <span class="mult-item"
                  *ngFor="let platform of modelingToolByUser.platform"
                  (click)="deletePlatform(platform);$event.stopPropagation()">
              {{platform}}
              <i class="bi bi-x"></i>
            </span>
          </div>
          <i class="bi bi-chevron-down custom-select"></i>
        </div>
        <div id="editPlatforms" *ngIf="platformsChecked">
          <ul class="list-items">
            <li class="item {{userPlatformStored(platform) ? 'checked' : ''}}"
                *ngFor="let platform of platforms"
                (click)="addRemovePlatform(platform)">
            <span class="checkbox">
              <i class="bi bi-check-lg"></i>
            </span>
              <span class="item-text">
                {{platform}}
              </span>
            </li>
            <li class="own-property-input-list">
              <input type="text"
                     class="own-property-input"
                     id="platformNew_1"
                     placeholder="Different platform"
                     [ngModelOptions]="{standalone: true}"
                     [(ngModel)]="suggestedPlatforms"
                     (keyup.enter)="addRemovePlatform(suggestedPlatforms)">
              <span (click)="addRemovePlatform(suggestedPlatforms)">
                Add
              </span>
            </li>
            <div class="invalid-input" *ngIf="userModelValidator.platform !== undefined ">
              {{userModelValidator.platform}}
            </div>
          </ul>
        </div>
        <div class="reset"
             *ngIf="mode === 2 && !arraysEqual(modelingToolByUser.platform, originalModelingTool.platform)"
             (click)="setUserToolArray('platform', originalModelingTool.platform)">
          Reset
        </div>
      </div>

      <div class="form-group" (clickOutside)="programmingLanguagesChecked = false">
        <label for="programmingLanguages">Programming Languages</label>
        <div class="input-group">
          <div style="border-radius: .375rem" class="form-select bg-white form-select-height form-custom"
               (click)="programmingLanguagesChecked = !programmingLanguagesChecked">
            <span class="mult-item"
                  *ngFor="let language of modelingToolByUser.programmingLanguage"
                  (click)="deleteLanguage(language);$event.stopPropagation()">
              {{language}}
              <i class="bi bi-x"></i>
            </span>
          </div>
          <i class="bi bi-chevron-down custom-select"></i>
        </div>
        <div id="programmingLanguages" *ngIf="programmingLanguagesChecked">
          <ul class="list-items">
            <li class="item {{userPlStored(language) ? 'checked' : ''}}"
                *ngFor="let language of programmingLanguages"
                (click)="addRemoveProgrammingLanguage(language)">
              <span class="checkbox">
                <i class="bi bi-check-lg"></i>
              </span>
              <span class="item-text">
                {{language}}
              </span>
            </li>
            <li class="own-property-input-list">
              <input type="text"
                     class="own-property-input"
                     id="plNew_1"
                     placeholder="Different programming language"
                     [ngModelOptions]="{standalone: true}"
                     [(ngModel)]="suggestedProgrammingLanguage"
                     (keyup.enter)="addRemoveProgrammingLanguage(suggestedProgrammingLanguage)">
              <span (click)="addRemoveProgrammingLanguage(suggestedProgrammingLanguage)">
                Add
              </span>
            </li>
            <div class="invalid-input" *ngIf="userModelValidator.programmingLanguage !== undefined ">
              {{userModelValidator.programmingLanguage}}
            </div>
          </ul>
        </div>
        <div class="reset"
             *ngIf="mode === 2 && !arraysEqual(modelingToolByUser.programmingLanguage, originalModelingTool.programmingLanguage)"
             (click)="setUserToolArray('programmingLanguage', originalModelingTool.programmingLanguage)">
          Reset
        </div>
      </div>
    </section>
    <section>
      <label for="remarks">Additional Information / Remarks</label>
      <textarea id="remarks" placeholder="" [(ngModel)]="modelingToolByUser.feedback" [ngModelOptions]="{standalone: true}"></textarea>
    </section>

    <section>
      <div class="form-group">
        <label for="email">Your Email for confirmation *</label>
        <div class="input-group">
          <input id="email"
                 name="email"
                 class="form-control {{userModelValidator.email === undefined ? '' : 'invalid-input-border'}}"
                 [(ngModel)]="modelingToolByUser.userEmail"
                 required/>
        </div>
        <div class="invalid-input"
             *ngIf="userModelValidator.email !== undefined ">
          {{userModelValidator.email}}
        </div>
      </div>

      <div class="content-align-center">
        <re-captcha *ngIf="!resolvedByUser" (resolved)="resolved($event)" siteKey="{{siteKey}}"></re-captcha>
        <button *ngIf="resolvedByUser" type="button" data-dismiss="modal" class="reset-btn" (click)=onSubmit()>
          Submit
        </button>
      </div>
      <div class="invalid-input" *ngIf="mode === 2 && userModelValidator.toolNotEdited !== undefined">
        {{userModelValidator.toolNotEdited}}
      </div>
    </section>
  </form>
</div>
