{% load urlparams %}
{% if pages %}
  <nav aria-label="...">
    <ul class="pagination justify-content-center">
      <li class="page-item {% if current == first %} disabled {% endif %}">
        <a class="page-link" href="{% url 'search_results' %}{% urlparams query=search_query page_index=previous search_type=st %}">Previous</a>
      </li>
        {% for page in pages %}
              <li class="page-item {% if page == current %} active {% endif %}"><a class="page-link" href="{% url 'search_results' %}{% urlparams query=search_query page_index=page search_type=st %}">{{page}}</a></li>
        {% endfor %}
      <li class="page-item {% if current == last %} disabled {% endif %}">
        <a class="page-link" href="{% url 'search_results' %}{% urlparams query=search_query page_index=next search_type=st %}">Next</a>
      </li>
    </ul>
  </nav>
{% endif %}