<footer>
  <div>
    <div id="company-information">
      <div>
        <div>
          <span><i class="bi bi-envelope-at"></i></span>
          <span>web.modeling.tools@gmail.com</span>
        </div>
        <div>
          <span><i class="bi bi-github"></i></span>
          <span>
          <a href="https://github.com/me-big-tuwien-ac-at/modeling-tool-repo">Github repository</a>
        </span>
        </div>
      </div>
      <a id="BIG_logo" href="https://www.big.tuwien.ac.at/">
        <img src="assets/BIG_logo.png" alt="Business Informatics Group Logo">
      </a>
    </div>
    <div id="copyright">
      © by Business Informatics Group (BIG), TU Wien, 2023
    </div>
  </div>
</footer>
